USE [MeterReaderDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminName] [varchar](50) NOT NULL,
	[AdminPass] [varchar](50) NOT NULL,
 CONSTRAINT [pk_admin] PRIMARY KEY CLUSTERED 
(
	[AdminName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DownloadReport]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DownloadReport](
	[Emp_ID] [varchar](10) NULL,
	[Period] [varchar](20) NULL,
	[Time] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[SerialNumber] [varchar](30) NOT NULL,
	[DeviceTag] [varchar](50) NOT NULL,
	[PhoneNumber] [int] NULL,
	[Status] [varchar](9) NULL,
	[DeviceIMEI] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [device_tag_unique] UNIQUE NONCLUSTERED 
(
	[DeviceTag] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TMP_MeterReadingOut]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TMP_MeterReadingOut](
	[CustomerID] [char](11) NOT NULL,
	[CustomerName] [varchar](60) NOT NULL,
	[Address] [varchar](60) NULL,
	[MobileNo] [varchar](50) NULL,
	[LocationRef] [varchar](120) NULL,
	[WalkNo] [decimal](18, 4) NOT NULL,
	[CustomerLongitude] [real] NULL,
	[CustomerLatitude] [real] NULL,
	[AccountNo] [varchar](11) NOT NULL,
	[AccountBalance] [money] NOT NULL,
	[ZoneID] [char](4) NOT NULL,
	[RouteID] [char](3) NOT NULL,
	[RouteName] [varchar](30) NULL,
	[Period] [char](6) NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[MeterResetValue] [numeric](10, 0) NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PreviousReadingDate] [datetime] NULL,
	[AverageConsumption] [numeric](10, 0) NOT NULL,
	[EmployeeID] [varchar](30) NULL,
	[DeviceTag] [varchar](30) NULL,
	[ReadingCode] [varchar](10) NULL,
	[ReadingQuality] [varchar](10) NULL,
	[CurrentReading] [numeric](18, 0) NULL,
	[Comments] [varchar](30) NULL,
	[ReadingLongitude] [varchar](50) NULL,
	[ReadingLatitude] [varchar](50) NULL,
	[ReadingDate] [varchar](max) NULL,
	[ImagePath] [varchar](max) NULL,
	[IsSynced] [char](5) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUserErrors]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserErrors](
	[ErrID] [int] NOT NULL,
	[ErrSeverity] [tinyint] NOT NULL,
	[ErrMessage] [nvarchar](255) NOT NULL,
	[ErrSource] [nvarchar](60) NOT NULL,
	[TransID] [nvarchar](20) NULL,
	[ErrDate] [datetime] NOT NULL,
	[ErrUser] [nvarchar](60) NOT NULL,
	[ErrUserDomain] [nvarchar](60) NOT NULL,
	[ErrApp] [nvarchar](100) NOT NULL,
	[tID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblUserErrors] PRIMARY KEY CLUSTERED 
(
	[tID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSMSBills]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSMSBills](
	[AccountNo] [varchar](20) NOT NULL,
	[SMSAccountNo] [varchar](20) NOT NULL,
	[CustomerName] [varchar](60) NOT NULL,
	[AreaName] [varchar](60) NOT NULL,
	[AccBalance] [money] NOT NULL,
	[CurrentBillAmount] [money] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[BillingMonth] [varchar](20) NOT NULL,
	[BMonth] [char](6) NOT NULL,
	[MobileNo] [varchar](50) NOT NULL,
	[Zone] [varchar](20) NOT NULL,
	[SubZone] [varchar](30) NOT NULL,
	[BillingGroupID] [char](4) NOT NULL,
	[SubZoneID] [char](3) NOT NULL,
	[Cons] [money] NOT NULL,
	[BillID] [char](11) NOT NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PresentReading] [numeric](10, 0) NULL,
	[ConnNo] [varchar](50) NOT NULL,
	[BillingDate] [datetime] NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[ReadingDate] [datetime] NULL,
	[WaterAmt] [money] NOT NULL,
	[RentAmt] [money] NULL,
	[SewerAmt] [money] NULL,
	[RefuseAmt] [money] NULL,
	[Address1] [varchar](50) NULL,
	[PlotNo] [varchar](50) NULL,
	[AvgConsumption] [numeric](10, 0) NULL,
	[SMSSent] [int] NULL,
	[SMSDeliveryDate] [datetime] NULL,
	[BillType] [char](4) NULL,
	[PreviousBalance] [money] NOT NULL,
	[tID] [bigint] IDENTITY(1,1) NOT NULL,
	[messageSentText] [varchar](355) NULL,
 CONSTRAINT [PK_tblSMSBills] PRIMARY KEY CLUSTERED 
(
	[tID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLoggersIN]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLoggersIN](
	[CustomerID] [char](11) NOT NULL,
	[Period] [char](6) NOT NULL,
	[ZoneID] [char](4) NOT NULL,
	[RouteID] [char](3) NOT NULL,
	[BookNo] [varchar](10) NULL,
	[Northings] [real] NULL,
	[Eastings] [real] NULL,
	[Altitude] [real] NULL,
	[Reading] [numeric](10, 0) NULL,
	[ReadingDate] [datetime] NULL,
	[ReadingCode] [char](2) NOT NULL,
	[MeterReaderID] [char](6) NOT NULL,
	[ReadingComments] [varchar](60) NOT NULL,
	[Consumption] [numeric](10, 0) NULL,
	[UploadDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblLoggersIN] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_SMS]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_SMS](
	[tid] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountNo] [varchar](20) NULL,
	[AccountName] [varchar](100) NULL,
	[MobileNo] [varchar](20) NULL,
	[CreatedBy] [varchar](10) NULL,
	[CreationDate] [date] NULL,
	[TextMessage] [varchar](max) NULL,
	[SMSType] [varchar](3) NULL,
	[DateSent] [date] NULL,
	[SMSSent] [bit] NULL,
	[SMSTry] [bit] NULL,
	[sentStatusMessage] [varchar](100) NULL,
 CONSTRAINT [PK__tbl_SMS__DC105B0F83E20BE6] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RptReadingCodes]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RptReadingCodes](
	[ReadingCode] [char](2) NOT NULL,
	[ReadingCodeDefn] [varchar](60) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[LastUpdateUser] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ReadingCode] PRIMARY KEY NONCLUSTERED 
(
	[ReadingCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterReadingRpt]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterReadingRpt](
	[EmployeeID] [varchar](10) NULL,
	[DeviceTag] [varchar](40) NULL,
	[RptDate] [varchar](25) NULL,
	[ImageName] [varchar](50) NULL,
	[ReadingCode] [varchar](10) NULL,
	[MeterSerial] [varchar](30) NULL,
	[Reading] [varchar](10) NULL,
	[Comments] [varchar](200) NULL,
	[latitude] [varchar](30) NULL,
	[longitude] [varchar](30) NULL,
	[accountno] [varchar](10) NULL,
	[syncimage] [varchar](5) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterReadingOut2]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterReadingOut2](
	[CustomerID] [char](11) NOT NULL,
	[CustomerName] [varchar](60) NOT NULL,
	[Address] [varchar](60) NULL,
	[MobileNo] [varchar](50) NULL,
	[LocationRef] [varchar](120) NULL,
	[WalkNo] [decimal](18, 4) NOT NULL,
	[CustomerLongitude] [real] NULL,
	[CustomerLatitude] [real] NULL,
	[AccountNo] [varchar](11) NOT NULL,
	[AccountBalance] [money] NOT NULL,
	[ZoneID] [char](4) NOT NULL,
	[RouteID] [char](3) NOT NULL,
	[RouteName] [varchar](30) NULL,
	[Period] [char](6) NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[MeterResetValue] [numeric](10, 0) NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PreviousReadingDate] [datetime] NULL,
	[AverageConsumption] [numeric](10, 0) NOT NULL,
	[EmployeeID] [varchar](30) NULL,
	[DeviceTag] [varchar](30) NULL,
	[ReadingCode] [varchar](10) NULL,
	[ReadingQuality] [varchar](10) NULL,
	[CurrentReading] [numeric](18, 0) NULL,
	[Comments] [varchar](30) NULL,
	[ReadingLongitude] [varchar](50) NULL,
	[ReadingLatitude] [varchar](50) NULL,
	[ReadingDate] [varchar](max) NULL,
	[ImagePath] [varchar](max) NULL,
	[IsSynced] [char](5) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterReadingOut]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterReadingOut](
	[CustomerID] [char](11) NOT NULL,
	[CustomerName] [varchar](60) NOT NULL,
	[Address] [varchar](60) NULL,
	[MobileNo] [varchar](50) NULL,
	[LocationRef] [varchar](120) NULL,
	[WalkNo] [decimal](18, 4) NOT NULL,
	[CustomerLongitude] [real] NULL,
	[CustomerLatitude] [real] NULL,
	[AccountNo] [varchar](11) NOT NULL,
	[AccountBalance] [money] NOT NULL,
	[ZoneID] [char](4) NOT NULL,
	[RouteID] [varchar](6) NULL,
	[RouteName] [varchar](30) NULL,
	[Period] [char](6) NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[MeterResetValue] [numeric](10, 0) NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PreviousReadingDate] [datetime] NULL,
	[AverageConsumption] [numeric](10, 0) NOT NULL,
	[EmployeeID] [varchar](30) NULL,
	[DeviceTag] [varchar](30) NULL,
	[ReadingCode] [varchar](10) NULL,
	[ReadingQuality] [varchar](10) NULL,
	[CurrentReading] [numeric](18, 0) NULL,
	[Comments] [varchar](30) NULL,
	[ReadingLongitude] [varchar](50) NULL,
	[ReadingLatitude] [varchar](50) NULL,
	[ReadingDate] [varchar](max) NULL,
	[ImagePath] [varchar](max) NULL,
	[IsSynced] [char](5) NOT NULL,
 CONSTRAINT [PKEY_CUSTOMERID_PERIOD] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[Period] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterReadingIn]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterReadingIn](
	[CustomerID] [char](11) NOT NULL,
	[CustomerName] [varchar](60) NOT NULL,
	[Address] [varchar](60) NULL,
	[MobileNo] [varchar](50) NULL,
	[LocationRef] [varchar](120) NULL,
	[WalkNo] [decimal](18, 4) NOT NULL,
	[CustomerLongitude] [real] NULL,
	[CustomerLatitude] [real] NULL,
	[AccountNo] [varchar](11) NOT NULL,
	[AccountBalance] [money] NOT NULL,
	[ZoneID] [char](4) NOT NULL,
	[RouteID] [varchar](6) NULL,
	[RouteName] [varchar](30) NULL,
	[Period] [char](6) NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[MeterResetValue] [numeric](10, 0) NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PreviousReadingDate] [datetime] NULL,
	[AverageConsumption] [numeric](10, 0) NOT NULL,
	[EmployeeID] [varchar](30) NULL,
	[DeviceTag] [varchar](30) NULL,
	[ReadingCode] [varchar](10) NULL,
	[ReadingQuality] [varchar](10) NULL,
	[CurrentReading] [numeric](18, 0) NULL,
	[Comments] [varchar](30) NULL,
	[ReadingLongitude] [varchar](50) NULL,
	[ReadingLatitude] [varchar](50) NULL,
	[ReadingDate] [varchar](max) NULL,
	[ImagePath] [varchar](max) NULL,
	[IsSynced] [char](5) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeterReadingHist]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeterReadingHist](
	[CustomerID] [char](11) NOT NULL,
	[CustomerName] [varchar](60) NULL,
	[Address] [varchar](60) NULL,
	[MobileNo] [varchar](50) NULL,
	[LocationRef] [varchar](120) NULL,
	[WalkNo] [decimal](18, 4) NOT NULL,
	[CustomerLongitude] [real] NULL,
	[CustomerLatitude] [real] NULL,
	[AccountNo] [varchar](11) NULL,
	[AccountBalance] [money] NOT NULL,
	[ZoneID] [char](4) NULL,
	[RouteID] [char](3) NULL,
	[RouteName] [varchar](30) NULL,
	[Period] [char](6) NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[MeterResetValue] [numeric](10, 0) NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PreviousReadingDate] [datetime] NULL,
	[AverageConsumption] [numeric](10, 0) NOT NULL,
	[EmployeeID] [varchar](30) NULL,
	[DeviceTag] [varchar](30) NULL,
	[ReadingCode] [varchar](10) NULL,
	[ReadingQuality] [varchar](10) NULL,
	[CurrentReading] [numeric](18, 0) NULL,
	[Comments] [varchar](30) NULL,
	[ReadingLongitude] [varchar](50) NULL,
	[ReadingLatitude] [varchar](50) NULL,
	[ReadingDate] [varchar](4000) NULL,
	[ImagePath] [varchar](4000) NULL,
	[IsSynced] [char](5) NULL,
 CONSTRAINT [PK_MeterReadingHist] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[Period] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MessageLogs]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MessageLogs](
	[custphone] [varchar](13) NULL,
	[message] [varchar](180) NULL,
	[messagedate] [varchar](25) NULL,
	[status] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eventslog]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eventslog](
	[eventdate] [datetime] NULL,
	[userid] [varchar](20) NULL,
	[narration] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp_ID] [char](10) NOT NULL,
	[Emp_Name] [char](30) NOT NULL,
	[Emp_Password] [varchar](20) NOT NULL,
	[Emp_Phone] [int] NULL,
	[Emp_Email] [varchar](40) NULL,
	[Emp_Status] [varchar](10) NOT NULL,
	[DeviceTag] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Allocation]    Script Date: 02/21/2026 19:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Allocation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_ID] [char](10) NULL,
	[RouteID] [varchar](10) NULL,
	[Period] [varchar](20) NULL,
	[Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__MeterRead__IsSyn__239E4DCF]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[MeterReadingIn] ADD  DEFAULT ('0') FOR [IsSynced]
GO
/****** Object:  Default [DF__MeterRead__IsSyn__24927208]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[MeterReadingOut] ADD  DEFAULT ('0') FOR [IsSynced]
GO
/****** Object:  Default [DF__MeterRead__synci__398D8EEE]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[MeterReadingRpt] ADD  DEFAULT ('0') FOR [syncimage]
GO
/****** Object:  Default [DF_Reading Code_LastUpdateDate]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[RptReadingCodes] ADD  CONSTRAINT [DF_Reading Code_LastUpdateDate]  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
/****** Object:  Default [DF_Reading Code_LastUpdateUser]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[RptReadingCodes] ADD  CONSTRAINT [DF_Reading Code_LastUpdateUser]  DEFAULT (user_name()) FOR [LastUpdateUser]
GO
/****** Object:  Default [DF__tblLogger__Uploa__2A4B4B5E]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblLoggersIN] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
/****** Object:  Default [DF__tblSMSBill__Cons__30F848ED]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblSMSBills] ADD  DEFAULT ((0)) FOR [Cons]
GO
/****** Object:  Default [DF__tblSMSBil__Previ__31EC6D26]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblSMSBills] ADD  DEFAULT ((0)) FOR [PreviousBalance]
GO
/****** Object:  Default [DF_tblUserErrors_ErrDate]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblUserErrors] ADD  CONSTRAINT [DF_tblUserErrors_ErrDate]  DEFAULT (getdate()) FOR [ErrDate]
GO
/****** Object:  Default [DF_tblUserErrors_ErrUser]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblUserErrors] ADD  CONSTRAINT [DF_tblUserErrors_ErrUser]  DEFAULT (original_login()) FOR [ErrUser]
GO
/****** Object:  Default [DF_tblUserErrors_ErrUserDomain]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblUserErrors] ADD  CONSTRAINT [DF_tblUserErrors_ErrUserDomain]  DEFAULT (host_name()) FOR [ErrUserDomain]
GO
/****** Object:  Default [DF_tblUserErrors_ErrApp]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[tblUserErrors] ADD  CONSTRAINT [DF_tblUserErrors_ErrApp]  DEFAULT (app_name()) FOR [ErrApp]
GO
/****** Object:  ForeignKey [fk_allocation_emp]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[Allocation]  WITH CHECK ADD  CONSTRAINT [fk_allocation_emp] FOREIGN KEY([Emp_ID])
REFERENCES [dbo].[Employee] ([Emp_ID])
GO
ALTER TABLE [dbo].[Allocation] CHECK CONSTRAINT [fk_allocation_emp]
GO
/****** Object:  ForeignKey [fk_device_tag]    Script Date: 02/21/2026 19:54:51 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_device_tag] FOREIGN KEY([DeviceTag])
REFERENCES [dbo].[Devices] ([DeviceTag])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_device_tag]
GO
