USE [SulisSMSDB]
GO
/****** Object:  Schema [SMSUser]    Script Date: 02/21/2026 19:54:15 ******/
CREATE SCHEMA [SMSUser] AUTHORIZATION [SMSUser]
GO
/****** Object:  Table [dbo].[tblDisconnections]    Script Date: 02/21/2026 19:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDisconnections](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNo] [nvarchar](50) NOT NULL,
	[Balance] [float] NOT NULL,
	[DueDebt] [float] NOT NULL,
	[MeterNo] [nvarchar](50) NOT NULL,
	[NoOfBills] [int] NULL,
	[DueDate] [date] NULL,
	[MobileNo] [nvarchar](50) NULL,
	[SysDate] [datetime] NULL,
	[Processed] [bit] NOT NULL,
	[BatchNo] [float] NULL,
 CONSTRAINT [PK_tblDisconnections] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomerBills]    Script Date: 02/21/2026 19:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCustomerBills](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountNo] [nvarchar](20) NULL,
	[ConnectionNo] [nvarchar](30) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[AreaName] [nvarchar](20) NULL,
	[CustomerTariff] [varchar](50) NULL,
	[Zone] [nvarchar](60) NULL,
	[SubZone] [nvarchar](60) NULL,
	[WalkNo] [decimal](18, 4) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[MeterNo] [nvarchar](20) NULL,
	[PostalAddress] [nvarchar](60) NULL,
	[PlotNo] [nvarchar](60) NULL,
	[OldAccountNo] [nvarchar](60) NULL,
	[DepositAmount] [money] NULL,
	[DepositReceipt] [nvarchar](30) NULL,
	[AccountComment] [varchar](250) NULL,
	[BillNo] [nvarchar](50) NULL,
	[BillingDate] [date] NULL,
	[DueDate] [date] NULL,
	[BillingMonth] [nvarchar](25) NULL,
	[BMonth] [nvarchar](6) NULL,
	[PreviousReading] [int] NULL,
	[CurrentReading] [int] NULL,
	[Consumption] [int] NULL,
	[ReadingDate] [date] NULL,
	[PrvReadingDate] [date] NULL,
	[BillType] [nvarchar](50) NULL,
	[PreviousBalance] [money] NULL,
	[WaterAmount] [money] NULL,
	[RentAmount] [money] NULL,
	[SewerAmount] [money] NULL,
	[RefuseAmount] [money] NULL,
	[CurrentBillAmount] [money] NULL,
	[BalanceCF] [money] NULL,
	[ZoneID] [char](4) NULL,
	[SubZoneID] [char](3) NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblCustomerBills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__tblCustom__Creat__060DEAE8]    Script Date: 02/21/2026 19:54:15 ******/
ALTER TABLE [dbo].[tblCustomerBills] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
/****** Object:  Default [DF_tblDisconnections_SysDate]    Script Date: 02/21/2026 19:54:15 ******/
ALTER TABLE [dbo].[tblDisconnections] ADD  CONSTRAINT [DF_tblDisconnections_SysDate]  DEFAULT (getdate()) FOR [SysDate]
GO
