USE [WorkordersBDb]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminName] [varchar](50) NOT NULL,
	[AdminPass] [varchar](50) NOT NULL,
 CONSTRAINT [pk_admin] PRIMARY KEY CLUSTERED 
(
	[AdminName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[SerialNumber] [varchar](30) NOT NULL,
	[DeviceTag] [varchar](50) NOT NULL,
	[PhoneNumber] [int] NULL,
	[Status] [varchar](9) NULL,
	[DeviceIMEI] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [device_tag_unique] UNIQUE NONCLUSTERED 
(
	[DeviceTag] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [uniq_device_tag] UNIQUE NONCLUSTERED 
(
	[DeviceTag] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DbIdentifier]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DbIdentifier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DbCode] [int] NOT NULL,
	[DbActualName] [varchar](50) NOT NULL,
	[DbVisualName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DbIdentifier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Technicians](
	[EmpID] [int] IDENTITY(100,1) NOT NULL,
	[EmpName] [varchar](60) NOT NULL,
	[EmpTel] [varchar](50) NULL,
	[EmpDept] [varchar](50) NULL,
	[EmpStatus] [varchar](10) NOT NULL,
	[LastUpdateUser] [varchar](10) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[DeviceNo] [varchar](10) NULL,
 CONSTRAINT [PK_Technicians] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblWorkOrdersOut]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblWorkOrdersOut](
	[OrderID] [bigint] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[OrderNR] [char](14) NOT NULL,
	[SourceDate] [datetime] NOT NULL,
	[OrderCategory] [varchar](50) NOT NULL,
	[OrderDesc] [varchar](250) NOT NULL,
	[AssignedTo] [char](5) NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[SourceType] [varchar](20) NOT NULL,
	[TechComments] [varchar](250) NULL,
	[CustomerID] [char](11) NULL,
	[AccountNo] [varchar](15) NULL,
	[CustomerName] [varchar](100) NULL,
	[PlotNo] [varchar](30) NULL,
	[ConnNo] [varchar](15) NULL,
	[TelNo] [varchar](30) NULL,
	[MeterNo] [varchar](15) NULL,
	[RouteID] [char](3) NULL,
	[RouteName] [varchar](30) NULL,
	[LocationAddress] [varchar](60) NULL,
	[ZoneID] [char](4) NULL,
	[ZoneName] [varchar](20) NULL,
	[Balance] [money] NULL,
	[SendSMS] [bit] NOT NULL,
	[Sent] [bit] NOT NULL,
 CONSTRAINT [PK_tblWorkOrdersOut] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblWorkOrdersIN]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWorkOrdersIN](
	[id] [int] NOT NULL,
	[Workorderid] [int] NOT NULL,
	[SysDate] [datetime] NOT NULL,
	[northings] [nvarchar](max) NULL,
	[eastings] [nvarchar](max) NULL,
	[altitude] [nvarchar](max) NULL,
	[accuracy] [nvarchar](max) NULL,
	[Donetime] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NULL,
	[ActionComment] [nvarchar](max) NULL,
	[MeterStatus] [nvarchar](max) NULL,
	[Readings] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[StatusComment] [nvarchar](max) NULL,
	[StatusTime] [nvarchar](max) NULL,
	[GeneralStatus] [nvarchar](max) NULL,
	[GeneralStatusComment] [nvarchar](max) NULL,
	[FinishedStatus] [nvarchar](max) NULL,
	[Processed] [bit] NOT NULL,
	[ImageName] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblWorkOrdersIN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbltasksOut]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbltasksOut](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[t_id] [varchar](10) NULL,
	[type] [varchar](20) NULL,
	[source] [varchar](30) NULL,
	[status] [varchar](10) NULL,
	[narration] [varchar](50) NULL,
	[employee] [varchar](30) NULL,
	[createdby] [varchar](30) NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbltasksIn]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbltasksIn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[t_id] [varchar](10) NULL,
	[type] [varchar](20) NULL,
	[source] [varchar](30) NULL,
	[status] [varchar](10) NULL,
	[narration] [varchar](50) NULL,
	[employee] [varchar](30) NULL,
	[createdby] [varchar](30) NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbltasks]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbltasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[t_id] [varchar](10) NULL,
	[type] [varchar](20) NULL,
	[source] [varchar](30) NULL,
	[status] [varchar](10) NULL,
	[narration] [varchar](50) NULL,
	[employee] [varchar](30) NULL,
	[createdby] [varchar](30) NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbltaskallocation]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbltaskallocation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[alloc_id] [varchar](25) NULL,
	[tid] [varchar](10) NULL,
	[task_id] [varchar](10) NULL,
	[narration] [varchar](50) NULL,
	[technician] [varchar](30) NULL,
	[createuser] [varchar](30) NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSMSBills]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSMSBills](
	[AccountNo] [varchar](20) NOT NULL,
	[SMSAccountNo] [varchar](20) NOT NULL,
	[CustomerName] [varchar](60) NOT NULL,
	[AreaName] [varchar](60) NOT NULL,
	[AccBalance] [money] NOT NULL,
	[CurrentBillAmount] [money] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[BillingMonth] [varchar](20) NOT NULL,
	[BMonth] [char](6) NOT NULL,
	[MobileNo] [varchar](50) NOT NULL,
	[Zone] [varchar](20) NOT NULL,
	[SubZone] [varchar](30) NOT NULL,
	[BillingGroupID] [char](4) NOT NULL,
	[SubZoneID] [char](3) NOT NULL,
	[Cons] [money] NOT NULL,
	[BillID] [char](11) NOT NULL,
	[PreviousReading] [numeric](10, 0) NULL,
	[PresentReading] [numeric](10, 0) NULL,
	[ConnNo] [varchar](50) NOT NULL,
	[BillingDate] [datetime] NOT NULL,
	[MeterNo] [varchar](15) NULL,
	[ReadingDate] [datetime] NULL,
	[WaterAmt] [money] NOT NULL,
	[RentAmt] [money] NULL,
	[SewerAmt] [money] NULL,
	[RefuseAmt] [money] NULL,
	[Address1] [varchar](50) NULL,
	[PlotNo] [varchar](50) NULL,
	[AvgConsumption] [numeric](10, 0) NULL,
	[SMSSent] [int] NULL,
	[SMSDeliveryDate] [datetime] NULL,
	[BillType] [char](4) NULL,
	[PreviousBalance] [money] NOT NULL,
	[tID] [bigint] IDENTITY(1,1) NOT NULL,
	[messageSentText] [varchar](200) NULL,
 CONSTRAINT [PK_tblSMSBills] PRIMARY KEY CLUSTERED 
(
	[tID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLookup]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tableid] [varchar](6) NULL,
	[tabledesc] [varchar](50) NULL,
	[lineid] [varchar](5) NULL,
	[description] [varchar](30) NULL,
	[comments] [varchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblFailedReasons]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFailedReasons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FailedReason] [varchar](100) NOT NULL,
	[tableid] [varchar](6) NOT NULL,
 CONSTRAINT [PK__tblFaile__3213E83FE47B191D] PRIMARY KEY CLUSTERED 
(
	[FailedReason] ASC,
	[tableid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblConfig]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[readingController] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingCode]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReadingCode](
	[ReadingCode] [char](2) NOT NULL,
	[ReadingCodeDefn] [varchar](60) NOT NULL,
	[ReadingQuality] [char](1) NOT NULL,
	[ControlIndicator] [char](1) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[LastUpdateUser] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ReadingCode] PRIMARY KEY NONCLUSTERED 
(
	[ReadingCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[Emp_ID] [char](10) NOT NULL,
	[Emp_Name] [char](30) NOT NULL,
	[Emp_Password] [varchar](20) NOT NULL,
	[Emp_Phone] [varchar](15) NULL,
	[Emp_Email] [varchar](40) NULL,
	[Emp_Status] [varchar](10) NOT NULL,
	[DeviceTag] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DbCode] [int] NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Allocation]    Script Date: 02/21/2026 19:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Allocation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_ID] [char](10) NULL,
	[RouteID] [varchar](10) NULL,
	[Period] [varchar](20) NULL,
	[Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__Employees__DbCod__45F365D3]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [DbCode]
GO
/****** Object:  Default [DF__Employees__LastU__46E78A0C]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
/****** Object:  Default [DF_Reading Code_LastUpdateDate]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[ReadingCode] ADD  CONSTRAINT [DF_Reading Code_LastUpdateDate]  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
/****** Object:  Default [DF_Reading Code_LastUpdateUser]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[ReadingCode] ADD  CONSTRAINT [DF_Reading Code_LastUpdateUser]  DEFAULT (user_name()) FOR [LastUpdateUser]
GO
/****** Object:  Default [DF_tblSMSBills_Cons]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[tblSMSBills] ADD  CONSTRAINT [DF_tblSMSBills_Cons]  DEFAULT ((0)) FOR [Cons]
GO
/****** Object:  Default [DF__tblSMSBil__Previ__1DE57479]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[tblSMSBills] ADD  DEFAULT ((0)) FOR [PreviousBalance]
GO
/****** Object:  Default [DF__tblWorkOr__Proce__1ED998B2]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[tblWorkOrdersIN] ADD  CONSTRAINT [DF__tblWorkOr__Proce__1ED998B2]  DEFAULT ((0)) FOR [Processed]
GO
/****** Object:  Default [DF_Technicians_EmpStatus]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Technicians_EmpStatus]  DEFAULT ('Active') FOR [EmpStatus]
GO
/****** Object:  Default [DF_Technicians_LastUpdateUser]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Technicians_LastUpdateUser]  DEFAULT (user_name()) FOR [LastUpdateUser]
GO
/****** Object:  Default [DF_Technicians_LastUpdateDate]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Technicians_LastUpdateDate]  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
/****** Object:  ForeignKey [fk_allocation_emp]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Allocation]  WITH CHECK ADD  CONSTRAINT [fk_allocation_emp] FOREIGN KEY([Emp_ID])
REFERENCES [dbo].[Employees] ([Emp_ID])
GO
ALTER TABLE [dbo].[Allocation] CHECK CONSTRAINT [fk_allocation_emp]
GO
/****** Object:  ForeignKey [fk_device_tag]    Script Date: 02/21/2026 19:53:36 ******/
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [fk_device_tag] FOREIGN KEY([DeviceTag])
REFERENCES [dbo].[Devices] ([DeviceTag])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [fk_device_tag]
GO
